@page "/login"
@inject HttpClient Http

<h2>Login</h2>

<input type="text" placeholder="username or email" @bind="EmailOrUsername" />
<input type="password" placeholder="password" @bind="Password"/>

<button class="btn btn-primary" @onclick="LoginPlayer">Login</button>

@code {
    public string EmailOrUsername { get; set; }
    public string Password { get; set; }

    private async void LoginPlayer() {
        var requestObject = new LoginRequest 
        {
            EmailOrUsername = EmailOrUsername,
            Password = Password
        };
        var response = await Http.PostJsonAsync<string>("http://localhost:5000/api/player/login", requestObject);
        Console.WriteLine(response);
    }
}
